<div class="bg-white">
  <div class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
    <h2 class="text-2xl font-bold tracking-tight text-gray-900">Productos</h2>

    <div class="mt-6 grid  sm:grid-cols-2 lg:grid-cols-3 ">
      <div *ngFor="let product of listProducts" class="products">
        <div class="card w-96 bg-base-100 shadow-xl p-1">
          <figure><img src="https://img.freepik.com/fotos-premium/gecko-o-lagarto-rojo-parece-pokemon_691560-331.jpg?w=740" alt="Shoes" /></figure>
          <div class="card-body">
            <h2 class="card-title">
              {{product.name}}
              <div class="badge badge-secondary">NEW</div>
            </h2>
            <p> Unidades disponibles: {{product.inventory}}</p>
            <div class="card-actions justify-end">
              <button class="btn btn-active btn-secondary  btn-sm" (click)="addProducts(product.id)">Comprar</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
