<div class="bg-white">
  <div class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
    <h2 class="text-2xl font-bold tracking-tight text-gray-900">Productos</h2>
    <div class="card-actions justify-end">
      <button class="btn btn-active btn-secondary  btn-sm" routerLink="/register">Ver Registro de Compra</button>

    </div>

    <div class="mt-6 grid  sm:grid-cols-2 lg:grid-cols-3 ">
      <div *ngFor="let product of listProducts" class="products">
        <div class="card w-96 bg-base-100 shadow-xl p-1">
          <figure><img src="https://img.freepik.com/fotos-premium/gecko-o-lagarto-rojo-parece-pokemon_691560-331.jpg?w=740" alt="Shoes" /></figure>
          <div class="card-body">
            <h2 class="card-title">
              {{product.name}}
              <div class="badge badge-secondary">NEW</div>
              <label for="my-modal-3" class="btn  btn-sm" (click)="updateProdcuts(product.id)">Configuración</label>
              <input type="checkbox" id="my-modal-3" class="modal-toggle" />
              <div class="modal">
                <div class="modal-box relative">
                  <label for="my-modal-3" class="btn btn-sm btn-circle absolute right-2 top-2" (click)="getlistProducts()">✕</label>
                  <h3 class="text-lg font-bold">Configuración</h3>
                  <app-edit-product [idProdcutUpdate]="idProdcutUpdate"></app-edit-product>
                </div>
              </div>

              <div><app-edit-product *ngIf="stateProdcutModal" [idProdcutUpdate]="idProdcutUpdate"></app-edit-product></div>
            </h2>
            <p> Unidades disponibles: {{product.inventory}}</p>
            <p> Min de unidades: {{product.minProducts}}</p>
            <p> Max de unidades: {{product.maxProducts}}</p>

            <div class="card-actions justify-end">
              <button class="btn btn-active btn-secondary  btn-sm" (click)="addProducts(product.id, product.minProducts,product.maxProducts)">Comprar</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



